<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find urdf01_rivz)/urdf/urdf/demo.urdf"/>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find urdf01_rivz)/config/show_mycar.rviz" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/>
    
    <node pkg="arbotix_python" type="arbotix_driver" name="arbotix_driver" output="screen">
         <rosparam command="load" file="$(find urdf01_rivz)/config/control.yaml"/>
        <param name="sim" value="true"/>
    </node>
    <!-- <node name="arbotix_python" pkg="arbotix_python" type="arbotix_driver" output="screen"/>
       
        <param name="sim" value="true"/>
    </node> -->

</launch>